.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 90%;
  position: relative;
}
.close {
  color: #aaaaaa;
  font-size: 28px;
  width: 28px;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.text-sky-900 {
  color: rgb(12 74 110);
}
.border-sky-700 {
  border-color: rgb(3 105 161);
}
.border {
  border-width: 1px;
}
